.container {
    background-color: rgb(222, 250, 250);
    width: 100vw;
    height: 22vh;
    display: flex;
    place-items: center;
}

.container2 {
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: 22vw 18vw 30vw;
    place-items: center;
    place-content: center;
}

.container2 img {
    width: 18vw;
    border-radius: 0.6vw;
}

.container2 button {
    color: #2937FF;
    background-color: rgba(246, 242, 242, 0.873);
    border-radius: 0.6vw;
    border: solid 0.1vw grey;
    width: 15vw;
    height: 4vw;
    font-size: 1.2vw;
    cursor: pointer;
    transition: 200ms;
}

.container2 button:hover {
    background-color: rgb(203, 219, 246);
    color: #19229d;
}

.container2 div {
    display: flex;
}

.container2 div input {
    width: 21vw;
    padding: 2%;
    border-radius: 0.6vw 0.0vw 0.0vw 0.6vw;
    border-left: solid 0.1vw grey;
    border-bottom: solid 0.1vw grey;
    border-top: solid 0.1vw grey;
    border: solid 0.1vw grey;
    font-size: 1.2vw;
}

.lupa {
    width: 2vw;
    height: 2vw;
    padding: 0.3vw;
    display: flex;
    place-items: center;
    border-right: solid 0.1vw grey;
    border-bottom: solid 0.1vw grey;
    border-top: solid 0.1vw grey;
    border-radius: 0.0vw 0.6vw 0.6vw 0.0vw;
}

.lupa img {
    width: 75%;
    height: 75%;
    margin-left: 0.2vw;
}